
*.exe
Excercise_4/.idea/Excercise_4.iml
Excercise_4/.idea/inspectionProfiles/Project_Default.xml
Excercise_4/.idea/misc.xml
Excercise_4/.idea/modules.xml
Excercise_4/.idea/vcs.xml
Excercise_4/cmake-build-debug/.cmake/api/v1/query/cache-v2
Excercise_4/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Excercise_4/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Excercise_4/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Excercise_4/cmake-build-debug/.cmake/api/v1/reply/cache-v2-7d5b6557f8511e003f79.json
Excercise_4/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-8f3acb4b1b907ef57d43.json
Excercise_4/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-b8aa5047c13b65cd02c9.json
Excercise_4/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
Excercise_4/cmake-build-debug/.cmake/api/v1/reply/index-2021-12-14T14-29-11-0412.json
Excercise_4/cmake-build-debug/.cmake/api/v1/reply/target-Excercise_4-Debug-fd212203a1480d9fc938.json
Excercise_4/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ce78c94097b4adf91626.json
Excercise_4/cmake-build-debug/.ninja_deps
Excercise_4/cmake-build-debug/.ninja_log
Excercise_4/cmake-build-debug/build.ninja
Excercise_4/cmake-build-debug/cmake_install.cmake
Excercise_4/cmake-build-debug/CMakeCache.txt
Excercise_4/cmake-build-debug/CMakeFiles/3.21.1/CMakeCCompiler.cmake
Excercise_4/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
Excercise_4/cmake-build-debug/CMakeFiles/3.21.1/CMakeRCCompiler.cmake
Excercise_4/cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
Excercise_4/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
Excercise_4/cmake-build-debug/CMakeFiles/clion-environment.txt
Excercise_4/cmake-build-debug/CMakeFiles/clion-log.txt
Excercise_4/cmake-build-debug/CMakeFiles/cmake.check_cache
Excercise_4/cmake-build-debug/CMakeFiles/CMakeOutput.log
Excercise_4/cmake-build-debug/CMakeFiles/Excercise_4.dir/main.c.obj
Excercise_4/cmake-build-debug/CMakeFiles/rules.ninja
Excercise_4/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Excercise_4/cmake-build-debug/Testing/Temporary/LastTest.log
Excercise_4/CMakeLists.txt
*.log
*.txt
*.cmake
*.xml
*.iml
